#banner {
    background: url("http://assettdev.colorado.edu/syllabus/library/images/university_of_colorado_white.png") no-repeat scroll left top #FFFFFF;
    color: #f0f0f0;
    clear: both;
    margin: 0;
    padding-top: 110px;
    position: relative;
    width: 100%;
}

.faculty-name-header {
    font-size: 3.2rem;
    margin-bottom: 2rem;
    display: inline-block;
}

.faculty-general-info {
    padding-bottom: 3rem;
}

.faculty-general-info div {
    padding-bottom: 1rem;
    word-wrap: break-word;
}